---
import Layout from "./Layout.astro";
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  title: string;
  description?: string;
  date: string | Date;
  tags: string[];
}>;

const { frontmatter } = Astro.props;
const { title, description, date, tags } = frontmatter;

// UTC-safe date string
let dateStr = "Unknown date";
if (date) {
  dateStr = new Date(`${date}T00:00`).toLocaleDateString(undefined, {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
}

---

<Layout title={title}>
  <main class="p-4 mx-auto">
    <div class="flex justify-between mt-8 mb-4">

      <!-- title -->
      <p class="text-4xl font-bold">{title}</p>
      
      <!-- Tags -->
      <div class="flex mt-3">
        {tags && tags.length > 0 && (
        <div class="flex flex-wrap gap-2">
          {tags.map(tag => (
            <a href={`/blog/tag/${tag.toLowerCase()}`} class="inline-block bg-green-700 text-white text-xs px-[8px] pt-[4px] pb-[1px] rounded-xl hover:bg-green-600 border-green-700 border-2 hover:border-green-600 transition-colors duration-200">
              {tag}
            </a>
          ))}
        </div>
        )}
      </div>
    </div>

    <div class="flex justify-between text-l mb-4">
      <p>{description}</p>
      <p>{dateStr}</p>
    </div>

    <hr><hr>
    <br><br>
    
    <div class="text-gray-800">
      <slot /> <!-- post content will render here -->
    </div>

    <br>
  </main>
</Layout>

<style>
  :root {
    --text-gradient: linear-gradient(0deg, #166534, #8b9a6b);
    --background-gradient: linear-gradient(270deg, #8b9a6b, #166534);
  }
</style>